<form action="/new" method="post">
  <input name="title" placeholder="El titulo de tu meme" type="text">
  <br>
  <input name="link" placeholder="El link de tu meme" type="text">
  <br>
  <input type="submit">
</form>